div(class='header-inner topcoat-navigation-bar')
  div(id='menu_button_region' class='topcoat-navigation-bar__item left quarter')
  div(class='topcoat-navigation-bar__item center half')
    h1(id='title_region' class='topcoat-navigation-bar__title')
  div(id='refresh_button_region' class='topcoat-navigation-bar__item right quarter')
