.user
  .nickname.text-box #{first_name} #{last_name}
  div(class='topcoat-button topcoat-button--text-centered logout') Logout

div(class='topcoat-list__container navigation-list-container')
  ul(class='topcoat-list')
    li(class='topcoat-list__item navigation-list-item')
      a(href=routes.rootPath class='navigation-button js-link')
        .link-box
          span Home Page
        .fa-box
          i(class='fa fa-angle-right')
    li(class='topcoat-list__item navigation-list-item')
      a(href=routes.route class='navigation-button js-link')
        .link-box
          span Route Page
        .fa-box
          i(class='fa fa-angle-right')
