form#authorization_form.login-form
  h1 Webkit Base demo app
  input(type='text', class='topcoat-text-input', placeholder='login', value='', name='name')
  input(type='password', class='topcoat-text-input', placeholder='password', value='', name='password')
  div(class='topcoat-button submit-button') Sign in
