#authorization_form.login-form
  input(type='text' class='topcoat-text-input' placeholder='login' value='' name='name')
  input(type='password' class='topcoat-text-input' placeholder='password' value='' name='password')
  button(class='topcoat-button submit-button') Log in
