$bgLightGreyColor = #dfe2e2
$bgDarkGreyColor = #d2d6d6
$itemGreyColor = #e5e9e8
$borderColor = #9daca9
$fontColor = #454545
$blueColor = #288edf

h1
  text-align: center
  color: $borderColor
  font-size: 1.6rem
  font-weight: 400
  text-shadow: 0px 1px 0px rgba(#fff, 0.8)
  line-height: 1.6rem
  margin: 1rem 0
