html
body
  margin:0
  padding:0
  height: 100%
  width: 100%
  font-size: 15px
  overflow: hidden

body
  position: relative

  .main
    position: absolute
    background-color: #f4f4f4
    z-index: 10
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    transform: translate3d(0, 0, 0)
    transition: all 0.3s ease
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.57)

    .content-region
      position: relative
      padding: 6rem 3% 0 3%
      height: 100%
      width: 100%
      overflow: scroll
      -webkit-overflow-scrolling: touch

  &.navigation-show
    .main
      transform: translate3d(80%, 0, 0)
      transition: all 0.3s ease
