*:not(input):not(textarea)
  -webkit-touch-callout: none
  -webkit-user-select: none

.topcoat-text-input
.topcoat-button
.topcoat-textarea
  margin: 5px 0 5px 0
  display: block
  width: 100%

.topcoat-icon-button--quiet
  &:hover
    background-color: inherit !important
    border: inherit !important
    box-shadow: inherit !important
    text-shadow: inherit !important

.topcoat-list__item
  list-style-type: none
