.spinner
  background-color: transparent
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: rgba(#000, 0.3)
  z-index: 10000

  .spin-icon
    position: absolute
    top: 50%
    left: 50%
    font-size: 2rem
    color: #fff
    margin-left: -1rem
    margin-top: -1rem

.text-box
  background-color: $itemGreyColor
  box-sizing: border-box
  padding: 1rem 0.5rem
  line-height: 1.4rem
  text-align: center
  color: $fontColor
  border-radius: 6px

.topcoat-button--text-centered
  text-align: center
