.spinner
  background-color: transparent
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-color: rgba(#000, 0.5)
  z-index: 10000

.text-box
  background-color: $itemGreyColor
  box-sizing: border-box
  padding: 0 1.25rem
  line-height: 3rem
  text-align: center
  color: $fontColor
  border-radius: 6px
