#map.map

.map-controls
  .position-picker
    .get-user-position.fa.fa-map-marker
  textarea(class='map-text')

.social-icons
  div.social-icon.twitter-icon.fa.fa-twitter-square(class=activeProvider('twitter') ? 'selected' : '')
  div.social-icon.facebook-icon.fa.fa-facebook-square(class=activeProvider('facebook') ? 'selected' : '')
