.swipe-item-inner
  .item
    .coordinate.lat
      span Latitude:
      p #{coordinates.lat}
    .coordinate.long
      span Longitude:
      p #{coordinates.long}
    .message #{message}
  .swipe-button.delete
    .swipe-button-inner DELETE
