.navigation-region
  position: absolute
  width: 100%
  z-index: 100
  transition: left 0.2s ease-out
  transform: translate3d(0, 0, 0)

  .header-inner
    padding: 0.5rem

  h1
    padding: 5px 0 0 0

  .fa
    display: inline-block
    overflow: hidden
    font-size: 1.4rem
    vertical-align: middle
    color: $fontColor

    &:active
      color: grey
