.side-navigation-region
  display: block
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: 80%
  height: 100%
  background-color: $bgDarkGreyColor
  padding-top: 2.2rem

  .user
    center(90%)

  .navigation-list-container
    padding-top: 3rem
    border: none

  .topcoat-list
    background-color: transparent
    border: none

  .navigation-list-item
    clearfix()
    padding: 0
    border-top: none

    &:first-child
    &:last-child
      border-top: none

  .navigation-button
    display: block
    width: 100%
    height: 100%
    color: inherit
    clearfix()

    &:active
      background-color: $bgLightGreyColor

  .link-box
    col(8/10)

    span
      display: block
      padding: 1.25rem
      text-decoration: none

  .fa-box
    col(2/10)

    .fa
      font-size: 28px
      padding: 1rem
      color: $blueColor
